<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/studentmarks" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-certificate"></i>
                <span class="smaller">Điểm sinh viên</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/semestersubjectexams" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-certificate"></i>
                <span class="smaller">Tổ chức thi</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/semestersubjectexamrooms" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-certificate"></i>
                <span class="smaller">Phòng thi</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/testbags/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-certificate"></i>
                <span class="smaller">Túi bài thi</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/studentmarkexamrooms" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-certificate"></i>
                <span class="smaller">Điểm theo phòng thi</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/studentmarktestbags" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-certificate"></i>
                <span class="smaller">Điểm theo túi bài thi</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/studentsubjectmarks" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-certificate"></i>
                <span class="smaller">Điểm tổng kết học kỳ</span>
            </a>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->