<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/course_hours/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Giờ học</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/education_levels/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Bậc đào tạo</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/education_types/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Loại hình đào tạo</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/education_programs/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Chương trình đào tạo</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/subjects/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Môn học</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/specialties/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Ngành - chuyên ngành</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/school_years/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Năm học</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/course_years/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Khóa học</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/semesters/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Học kỳ</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/enrollment_classes/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Lớp học</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/semester_subjects/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Học phần - học kỳ</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/course_subjects/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Lớp học phần</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/timetables" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Thời khóa biểu</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/student_coursesubjects/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-university"></i>
                <span class="smaller">Thời khóa biểu s/viên</span>
            </a>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->