<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/student/enrollment" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Đăng ký học</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/student/profile" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Hồ sơ sinh viên</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/manager_students/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Danh sách sinh viên</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/student_research/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Nghiên cứu khoa học</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/student_reward/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Quản lý khen thưởng</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/student_discipline/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Kỷ luật sinh viên</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/scholarship_funds/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Quỹ học bổng</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/fund_types/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Danh mục loại quỹ</span>
            </a>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->