<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-xs-12">
        <div class="m-heading-1 border-green m-bordered">
            <h4 class="block">Danh mục dữ liệu</h4>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/department/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Phòng ban</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/location/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Vị trí khu vực</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/building/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Tòa/dãy nhà</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/room/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Phòng học</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/country/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Quốc gia</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Tổ chức</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/religion/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Tôn giáo</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/profession/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Nghề nghiệp</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/training_base/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Cơ sở</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/ethnic/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Dân tộc</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Đơn vị hành chính</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/reward/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Khen thưởng</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/discipline/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Kỷ luật</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/student_status/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Tình trạng sinh viên</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/degree_student/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Xếp loại sinh viên</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/exam_type/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Loại kỳ thi</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/mark_type/listing" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Loại điểm</span>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="m-heading-1 border-green m-bordered">
            <h4 class="block">Quản lý người dùng</h4>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/user/groups" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-people"></i>
                <span class="smaller">Nhóm người dùng</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/user/accounts" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-user"></i>
                <span class="smaller">Tài khoản người dùng</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/user/roles" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-user-following"></i>
                <span class="smaller">Phân quyền</span>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="m-heading-1 border-green m-bordered">
            <h4 class="block">Thiết lập hệ thống</h4>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-settings"></i>
                <span class="smaller">Cài đặt chung</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-settings"></i>
                <span class="smaller">Thư điện tử</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-settings"></i>
                <span class="smaller">Lưu trữ</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-settings"></i>
                <span class="smaller">Job scheduling</span>
            </a>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->