<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/staff" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-people"></i>
                <span class="smaller">Thông tin nhân sự</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="icon-people"></i>
                <span class="smaller">Danh mục chức vụ</span>
            </a>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->