
<style>
.heading01 {
    margin: 0;
    padding: 0;
    font-family: "Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 1.25;
}

.heading01--lv02 {
    font-size: 28px;
    font-size: 1.55556rem;
    margin-top: 57px;
}
.doc {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
}.doc__content {
    padding: 0 0 60px;
}.heading01--lv01 {
    font-family: arial;
    font-weight: bold;
}
.heading01 {
    font-family: arial;
    font-weight: bold;
}
</style>
<div role="main" class="doc">
	<div class="doc__content">
		<div class="localnavi localNavigation baseComponentStructure"></div>

		<div class="parsys contentsPar">
			<div class="allowarea parsys section">

				<div class="parbody parsys">
					<div class="column1_10 baseComponentEditbar section">

						<div class="cols">
							<div class="cols__col cols__col--10">

								<div class="parsys">
									<div class="heading baseComponentEditbar section">

										<h1 class="heading01 heading01--lv01  ">Chính sách về
											quyền riêng tư</h1>
										<p class="text01  "></p>


									</div>
									<div class="heading baseComponentEditbar section">

										<h2 class="heading01 heading01--lv02  ">Giới thiệu</h2>


									</div>
									<div class="baseComponentEditbar section text">

										<div class="textcp text">

											<p>Chúng tôi đã luôn nỗ lực bảo vệ thông tin cá nhân của khách
												hàng. Với việc thu thập ngày càng nhiều thông tin cá nhân từ
												khách hàng qua Internet thông qua đăng ký người dùng, các
												chương trình trao thưởng, khảo sát người dùng, v.v., việc
												quản lý và bảo vệ hợp lý thông tin cá nhân của khách hàng
												ngày càng trở nên quan trọng hơn trong những năm gần đây.</p>

											<p>Công ty chúng tôi đã thiết lập "Chính sách về quyền
												riêng tư" như trình bày dưới đây và chúng tôi cam kết sẽ
												quản lý các Trang web của chúng tôi nhằm đảm bảo khách hàng
												của chúng tôi được an toàn và hài lòng bằng việc chuyên tâm
												theo đuổi biện pháp phòng tránh hành vi sử dụng, tiết lộ,
												sửa đổi trái phép, v.v. thông tin cá nhân do khách hàng của
												chúng tôi cung cấp.</p>

										</div>

									</div>
									<div class="heading baseComponentEditbar section">
										<h2 class="heading01 heading01--lv02  ">Định nghĩa thông
											tin cá nhân</h2>
									</div>
									<div class="baseComponentEditbar section text">
										<div class="textcp text">
											<p>Thông tin cá nhân là bất kỳ thông tin nào được cung
												cấp cho công ty chúng tôi, có thể được sử dụng để nhận dạng
												một cá nhân chẳng hạn như tên và họ, địa chỉ nhà riêng hoặc
												địa chỉ thực tế khác, số điện thoại hoặc địa chỉ email hay
												bất kỳ thông tin nào nhận dạng duy nhất cá nhân đó.</p>
										</div>
									</div>

									<div class="heading baseComponentEditbar section">






										<h2 class="heading01 heading01--lv02  ">Quy tắc không
											tiết lộ thông tin cá nhân cho bên thứ ba</h2>


									</div>
									<div class="baseComponentEditbar section text">








										<div class="textcp text">


											<p>Công ty chúng tôi sẽ không tiết lộ cho các bên thứ ba
												bất kỳ thông tin cá nhân nào được cung cấp (đăng ký) cho
												chúng tôi, trừ những trường hợp sau:</p>



										</div>


									</div>
									<div class="baseComponentEditbar section list">






										<ol class="orderedList01">

											<li class="orderedList01__item">Bạn đã đồng ý tiết lộ
												thông tin cá nhân của mình cho bên thứ ba.</li>
											<li class="orderedList01__item">Thông tin cá nhân của
												bạn phải được tiết lộ cho công ty liên kết, chi nhánh công
												ty hoặc nhà thầu phụ của chúng tôi, là những bên mà chúng
												tôi có thỏa thuận về tính bí mật nhằm thực hiện mục đích thu
												thập thông tin cá nhân, như chúng tôi đã tiết lộ trước đây.
												(Ví dụ: Chỉ dẫn một nhà cung cấp dịch vụ giao hàng để giao
												giải thưởng của bạn.)</li>
											<li class="orderedList01__item">Thông tin cá nhân của
												bạn đã được xử lý vào dữ liệu thống kê sẽ không tiết lộ danh
												tính của bạn.</li>
											<li class="orderedList01__item">Luật yêu cầu tiết lộ.</li>
										</ol>

									</div>

									<div class="heading baseComponentEditbar section">






										<h2 class="heading01 heading01--lv02  ">Tham khảo, chỉnh
											sửa hoặc xóa thông tin cá nhân</h2>


									</div>
									<div class="baseComponentEditbar section text">








										<div class="textcp text">


											<p>Khi bạn muốn đề cập tới thông tin cá nhân mà chúng tôi
												sở hữu hoặc muốn chỉnh sửa hay xóa thông tin đó, hãy liên hệ
												với chúng tôi qua kênh hỏi đáp thông qua quy trình đã định
												sẵn của công ty chúng tôi. Sau khi xác minh danh tính của
												người đưa ra yêu cầu, chúng tôi sẽ tiết lộ cho bạn hoặc
												chỉnh sửa/xóa thông tin trong thời gian hợp lý.</p>



										</div>


									</div>
									<div class="heading baseComponentEditbar section">






										<h2 class="heading01 heading01--lv02  ">Trung tâm hỗ trợ
											khách hàng</h2>


									</div>
									<div class="baseComponentEditbar section text">








										<div class="textcp text">

											<p>Nếu bạn muốn kiểm tra thông tin cá nhân của mình, vui
												lòng liên hệ với bộ phận đã trả lời câu hỏi của bạn hoặc qua
												chi tiết liên hệ mà công ty chúng tôi cung cấp cho bạn khi
												bạn cung cấp thông tin cá nhân của mình.</p>

											<p>Nếu bạn không biết nên liên hệ với ai hoặc nếu bạn
												muốn hỏi về thông tin cá nhân mà bạn đã cung cấp trên trang
												web của chúng tôi, vui lòng sử dụng biểu mẫu câu hỏi.</p>



										</div>


									</div>
									<div class="heading baseComponentEditbar section">






										<h2 class="heading01 heading01--lv02  ">Quản lý thông tin
											cá nhân</h2>


									</div>
									<div class="baseComponentEditbar section text">








										<div class="textcp text">


											<p>Quản trị viên Trang web của Tập đoàn DENSO duy trì
												hoạt động quản lý nghiêm ngặt thông tin cá nhân đã thu thập
												được và các biện pháp thích hợp được thực hiện nhằm ngăn
												chặn sử dụng, tiết lộ hoặc sửa đổi trái phép thông tin đó.
												Khi các điều khoản sử dụng cụ thể được đăng trên Trang web,
												những điều khoản sử dụng đó sẽ được ưu tiên áp dụng so với
												"Chính sách về quyền riêng tư" này.</p>



										</div>


									</div>
									<div class="heading baseComponentEditbar section">






										<h2 class="heading01 heading01--lv02  ">Xử lý thông tin
											cá nhân</h2>


									</div>
									<div class="baseComponentEditbar section text">








										<div class="textcp text">


											<p>Khi bạn đặt câu hỏi, đề nghị cung cấp ca-ta-lô hoặc
												khi chúng tôi mời người tham gia, v.v., bạn sẽ được yêu cầu
												nhập thông tin cá nhân trên trang web của chúng tôi. Chúng
												tôi cố gắng bảo vệ thông tin cá nhân bằng cách thực hiện các
												biện pháp kiểm soát bảo mật dựa trên Chính sách về quyền
												riêng tư này.</p>

											<p>Trong trường hợp khác ngoài các trường hợp nêu trên,
												bạn có thể truy cập trang web của chúng tôi mà không cần
												phải tiết lộ thông tin cá nhân.</p>



										</div>


									</div>

									<div class="heading baseComponentEditbar section">






										<h2 class="heading01 heading01--lv02  ">Thông tin cá nhân
											tại các trang web bên thứ ba</h2>


									</div>
									<div class="baseComponentEditbar section text">








										<div class="textcp text">


											<p>Chúng tôi không chịu trách nhiệm theo bất kỳ cách nào
												đối với việc thu thập thông tin cá nhân tại các trang web do
												các công ty khác vận hành được giới thiệu trên trang web của
												chúng tôi.</p>



										</div>


									</div>
									<div class="heading baseComponentEditbar section">






										<h2 class="heading01 heading01--lv02  ">Hiểu biết khác</h2>


									</div>
									<div class="baseComponentEditbar section text">








										<div class="textcp text">


											<p>Công ty chúng tôi nỗ lực bảo vệ thông tin cá nhân của
												bạn, tuy nhiên chúng tôi không thể đảm bảo bảo mật thông tin
												khi thông tin được chuyển cho chúng tôi. Mỗi khách hàng phải
												chịu trách nhiệm đối với việc truyền dữ liệu an toàn. Chúng
												tôi khuyên bạn nên áp dụng các biện pháp đề phòng về bảo mật
												dữ liệu khi kết nối với Internet. Công ty chúng tôi có thể
												thay đổi "Chính sách về quyền riêng tư" này bất cứ lúc nào.
												Trong trường hợp này, thông tin sẽ có hiệu lực khi được đăng
												lên Trang web của công ty chúng tôi.</p>



										</div>


									</div>

								</div>

								<!-- /cols__col -->
							</div>
							<!-- /cols -->
						</div>
					</div>

				</div>


			</div>

		</div>

	</div>
</div>