<div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
        <h4 ng-if="vm.original.isNew == true" class="modal-title"><i class="icon-plus"></i>{{'original.create' | translate}}</h4>
        <h4 ng-if="vm.original.isNew == false" class="modal-title"><i class="icon-pencil"></i>{{'original.edit' | translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 margin-top-10">
                <label class="bold">{{'original.code' | translate}}</label>
                <input data-ng-model="vm.original.code" type="text" autofocus="autofocus" class="form-control" />
            </div>
            <div class="col-md-12 margin-top-10">
                <label class="bold">{{'original.name' | translate}}</label>
                <input data-ng-model="vm.original.name" type="text" class="form-control" />
            </div>
            <div class="col-md-12 margin-top-10">
                <label class="bold">{{'original.description' | translate}}</label>
                <input data-ng-model="vm.original.description" class="form-control" />
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal"><i class="icon-close"></i> {{'original.cancel' | translate}}</button>
        <button type="button" ng-click="vm.saveOriginal()" class="btn btn-primary"><i class="icon-check"></i> {{'original.save' | translate}}</button>
    </div>