<div class="row margin-top-10">
	<div class="col-md-12">
		<div class="portlet light bordered">
			<div class="portlet-header">
				<h3><strong>Phân loại sinh học</strong></h3>
			</div>
			<div class="portlet-title">
                <div class="row margin-top-10 margin-bottom-10">
                    <div class="col-md-4">
                        <div class="btn-group margin-bottom-20 margin-right-10">
							<button type="button" ng-click="vm.openCreateForm()" class="btn btn-default margin-right-10"><i class="icon-plus"></i>{{'animalType.create' | translate}}</button>
							<button class="btn btn-default" ng-click="vm.importBiological()">
								<i class="fa fa-cloud-upload"></i>Import dữ liệu
							  </button>
						</div>
                    </div>

					<div class="col-md-2">
						<ui-select
							ng-model="vm.searchDto.type"
							sortable="true"
							close-on-select="true"
							on-select="vm.onSelectType()"
						>
							<ui-select-match allow-clear="true" placeholder="Chọn loại">
							{{$select.selected.name}}
							</ui-select-match>
							<ui-select-choices
							repeat="item.id as item in vm.listType | propsFilter: {name: $select.search}"
							>
							<div
								class="bold"
								ng-bind-html="item.name | highlight: $select.search"
							></div>
							</ui-select-choices>
						</ui-select>
					</div>
                    
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" data-ng-model="vm.searchDto.text" ng-keyup="vm.enterSearch(e)" class="form-control" placeholder="Tìm kiếm" name="search">
                            <div class="input-group-btn">
                                <button ng-click="vm.searchByCode()" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="portlet-body">
				
				<table id="bsTableControl" bs-table-control="vm.bsTableControl"></table>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="form_edit.html">
    <div modal-movable>
			<div ng-include="'biological_class/views/form_edit.html'"></div>
		</div>
</script>

<script type="text/ng-template" id="confirm_delete.html">
    <div modal-movable>
		<div ng-include="'animal_type/views/confirm_delete.html'"></div>
	</div>
</script>
<script type="text/ng-template" id="confirm_delete_record.html">
	<div class="modal-header alert alert-danger">
		<h4 class="pull-left">{{'toastr.warning' | translate}}</h4>
		
		<a type="button" class="pull-right" ng-click="$dismiss()" aria-hidden="false"><i class="fa fa-fw fa-times-circle"></i></a>
						
	</div>
	<div class="modal-body">
		<div class="row">
				<h2>
					
					<p style="padding-left:15px;" class="text-danger"><i class="fa fa-fw fa-warning"></i>{{'animalType.confirmDelete' | translate}}</p>
				</h2>
				
		</div>
	</div>
	<div class="modal-footer">
			<button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal"><i class="icon-close"></i>{{'animalType.cancel' | translate}}</button>
			<button type="button" ng-click="vm.confirmDelete()" class="btn btn-danger"><i class="icon-check"></i> {{'animalType.accept' | translate}}</button>
	</div>
	
</script>

<script type="text/ng-template" id="import_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title bold font-yellow-gold"><i class="fa fa-cloud-upload"></i> Import</h4>
        </div>
        <div class="modal-body">
            <div class="box-body box-profile">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="dash-box display-block link" ngf-select="uploadFiles($file, $invalidFiles)"
                               accept="/*" ngf-max-size="{{MAX_FILE_SIZE}}"><i class="fa fa-cloud-upload"></i>{{'upload.chooseFile' | translate}}</a>
                        </div>

                        <div class="col-md-12 margin-top-20" ng-if="f != null">
                            {{'upload.downloadFile' | translate}}: {{f.name}}
                        </div>

                        <div class="col-md-12 margin-top-20" ng-if="errFile != null && errFile.$error != ''">
                            {{'upload.error' | translate}}: <span ng-if="errFile.$error == 'maxSize'"> {{'upload.sizeFile' | translate}} {{errFile.$errorParam}}</span>
                            <span ng-if="errFile.$error != null && errFile.$error != 'maxSize'"> {{'upload.file' | translate}} {{errFile.name}} {{'upload.error' | translate}}. {{'upload.chooseFileOther' | translate}}.</span>
                        </div>

                        <div class="col-md-12 margin-top-20" ng-if="f.progress >= 0">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ng-bind="f.progress + '%'" style="width:{{f.progress}}%">
                                    {{f.progress}}%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">{{'upload.cancel' | translate}}</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">{{'upload.download' | translate}}</button>
        </div>
    </div>
  </script>