<div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
        <h4 ng-if="vm.drug.isNew == true" class="modal-title"><i class="icon-plus"></i>{{'drug.create' | translate}}</h4>
        <h4 ng-if="vm.drug.isNew == false" class="modal-title"><i class="icon-pencil"></i>{{'drug.edit' | translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 margin-top-10">
                <label class="bold">{{'drug.code' | translate}}</label>
                <input ng-if="vm.drug.isNew == true" data-ng-model="vm.drug.code" type="text" autofocus="autofocus" class="form-control" />
				<input ng-if="vm.drug.isNew == false" data-ng-model="vm.tempCode" type="text" autofocus="autofocus" class="form-control" />
            </div>
			<div class="col-md-1 margin-top-10">
				<button ng-if="vm.drug.isNew == true" style="margin-left: 12px;margin-top: 23px;margin-right: 10px;" ng-click="vm.checkDuplicateCode(1,1)" type="button" class="btn btn-primary btn-circle"><i class="fa fa-history"></i></button>
				<button ng-if="vm.drug.isNew == false" style="margin-left: 12px;margin-top: 23px;margin-right: 10px;" ng-click="vm.checkDuplicateCode(2,1)" type="button" class="btn btn-primary btn-circle"><i class="fa fa-history"></i></button>
			</div>
            <div class="col-md-12 margin-top-10">
                <label class="bold">{{'drug.name' | translate}}</label>
                <input data-ng-model="vm.drug.name" type="text" class="form-control" />
            </div>
            <div class="col-md-12 margin-top-10">
                <label class="bold">{{'drug.description' | translate}}</label>
                <input data-ng-model="vm.drug.description" class="form-control" />
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal"><i class="icon-close"></i> {{'drug.cancel' | translate}}</button>
        <!--<button type="button" ng-click="vm.savedrug()" class="btn btn-primary"><i class="icon-check"></i> {{'drug.save' | translate}}</button>-->
		<button ng-if="vm.drug.isNew == true" type="button" ng-click="vm.checkDuplicateCode(1,2)" class="btn btn-primary" data-dismiss="modal">{{'drug.save' | translate}}</button>
		<button ng-if="vm.drug.isNew == false" type="button" ng-click="vm.checkDuplicateCode(2,2)" class="btn btn-primary" data-dismiss="modal">{{'drug.save' | translate}}</button>
    </div>