<div class="portlet light bordered">
    <div class="portlet-header">
        <h3>
            <strong> Nhập thông tin hiện trạng về quần thể gấu</strong>
        </h3>
        <div class="row margin-top-10 margin-bottom-10" ng-show="vm.isNew">
            <div class="col-md-3" >
                <label for="">Tháng báo cáo</label>
                <select ng-model="vm.monthAnimalReportType2" class="form-control" ng-options="t.value as t.value for t in vm.months">
                    <option value="t.value" selected="t.value == vm.monthAnimalReportType2"></option>
                </select>                
            </div>
            <div class="col-md-3" >
                <label for="">Năm báo cáo</label>                
                <select ng-model="vm.yearAnimalReportType2" class="form-control" ng-options="t.value as t.value for t in vm.years">
                    <option value="t.value" selected="t.value == vm.yearAnimalReportType2"></option>
                </select>                
            </div>

            
        </div>
    </div>
    <div class="portlet-body" style="overflow-x: auto;min-height: 450px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="3" class="text-center">TT</th>
                    <th colspan="2" class="text-center glb-w-type22">Loài</th>
                    <th rowspan="3" class="text-center">Tổng</th>
                    <th colspan="4" class="text-center">Gấu có chíp</th>
                    <th colspan="5" class="text-center">Gấu không chíp</th>
                    <!-- <th rowspan="3" class="text-center">Ghi chú</th> -->
                    <th rowspan="3" class="text-center">Thao tác</th>
                </tr>
                <tr>
                    <th rowspan="2" class="text-center glb-w-type2"> Tên tiếng việt </th>
                    <th rowspan="2" class="text-center glb-w-type2"> Tên khoa học </th>

                    <th rowspan="2" class="text-center"> Tổng</th>
                    <th rowspan="2" class="text-center"> Đực </th>
                    <th rowspan="2" class="text-center"> Cái </th>
                    <th rowspan="2" class="text-center"> Mã số chip </th>

                    <th rowspan="2" class="text-center"> Tổng</th>
                    <th rowspan="2" class="text-center"> Đực </th>
                    <th rowspan="2" class="text-center"> Cái </th>
                    <th colspan="2" class="text-center"> Nguyên nhân </th>
                </tr>
                <tr>
                    <th class="text-center">Sinh tại cơ sở</th>
                    <th class="text-center">Khác</th>
                </tr>
            </thead>
            
            <tr ng-if="!vm.isNew" ng-repeat="rawTableType2 in vm.farmPeriod.listAnimalReportDataFormDto track by $index">
                <td class="text-center">{{$index + 1}}</td>
                <td class="text-center glb-w-type2">{{rawTableType2.animal.name}}</td>
                <td class="text-center glb-w-type2">{{rawTableType2.animal.scienceName}}</td>
                <td class="text-center">
                    {{vm.calcTotal(rawTableType2.totalBearHasChip, rawTableType2.totalBearNoChip)}}</td>
                <td class="text-center">{{rawTableType2.totalBearHasChip}}</td>
                <td class="text-center">{{rawTableType2.maleBearHasChip}}</td>
                <td class="text-center">{{rawTableType2.femaleBearHasChip}}</td>
                <td class="text-center">{{rawTableType2.chipCodes}}</td>

                <td class="text-center">{{rawTableType2.totalBearNoChip}}</td>
                <td class="text-center">{{rawTableType2.maleBearNoChip}}</td>
                <td class="text-center">{{rawTableType2.femaleBearNoChip}}</td>
                <td class="text-center">{{rawTableType2.reasonBornAtFarm}}</td>
                <td class="text-center">{{rawTableType2.reasonOther}}</td>
                <!-- <td class="text-center"></td> -->

                <td class="text-center"></td>
                <!-- <td class="text-center"><button ng-click="vm.removeListSelected($index)"><i
                            class="fa fa-times text-danger"></i></button></td> -->
            </tr>
            <tr ng-repeat="rawTableType2 in vm.listBearDto track by $index">
                <td class="text-red">{{$index + 1 + vm.farmPeriod.listAnimalReportDataFormDto.length}}</td>
                <td class="text-red glb-w-type2">{{rawTableType2.animal.name}}</td>
                <td class="text-red glb-w-type2">{{rawTableType2.animal.scienceName}}</td>
                <td class="text-red">
                    {{vm.calcTotal(rawTableType2.totalBearHasChip, rawTableType2.totalBearNoChip)}}</td>
                <td class="text-red">{{rawTableType2.totalBearHasChip}}</td>
                <td class="text-red">{{rawTableType2.maleBearHasChip}}</td>
                <td class="text-red">{{rawTableType2.femaleBearHasChip}}</td>
                <td class="text-red">
                    <div ng-repeat="code in rawTableType2.listChipCode">
                        {{code}}
                    </div>
                </td>

                <td class="text-red">{{rawTableType2.totalBearNoChip}}</td>
                <td class="text-red">{{rawTableType2.maleBearNoChip}}</td>
                <td class="text-red">{{rawTableType2.femaleBearNoChip}}</td>
                <td class="text-red">{{rawTableType2.reasonBornAtFarm}}</td>
                <td class="text-red">{{rawTableType2.reasonOther}}</td>
                <!-- <td class="text-red"></td> -->

                <td class="text-red"><button ng-click="vm.removeListBearDtoSelected($index)"><i
                            class="fa fa-times text-danger"></i></button></td>
            </tr>
            <tr class="remove-arrow">
                <td class="text-center">-</td>
                <td class="text-center glb-w-type2">
                    <ui-select ng-model="vm.rawTableType2.animal" sortable="true" close-on-select="true" style="width:200px"
                        on-select="">
                        <ui-select-match allow-clear="true" placeholder="{{'animal.chooseType' | translate}}">{{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices
                            repeat="animal in vm.getListBear(vm.animals) | propsFilter: {name: $select.search, code: $select.search}">
                            <div class="bold" ng-bind-html="animal.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td class="text-center glb-w-type2">
                    <ui-select ng-model="vm.rawTableType2.animal" sortable="true" close-on-select="true" style="max-width:100%"
                    on-select="">
                    <ui-select-match allow-clear="true" placeholder="{{'animal.chooseType' | translate}}">{{$select.selected.scienceName}}
                    </ui-select-match>
                    <ui-select-choices
                        repeat="animal in vm.getListBear(vm.animals) | propsFilter: {name: $select.search, code: $select.search}">
                        <div class="bold" ng-bind-html="animal.scienceName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                </td>
                <!-- Tong so ca the -->
                <td class="text-center">
                    {{vm.calcTotal(vm.rawTableType2.maleBearHasChip, vm.rawTableType2.femaleBearHasChip, vm.rawTableType2.maleBearNoChip, vm.rawTableType2.femaleBearNoChip)}}
                </td>
                <!-- Gau co chip -->
                <td class="text-center">
                    {{vm.calcTotal(vm.rawTableType2.maleBearHasChip, vm.rawTableType2.femaleBearHasChip)}}</td>
                <td class="text-center"><input type="text" number-input min=0 class="form-control"
                        ng-model="vm.rawTableType2.maleBearHasChip" /></td>
                <td class="text-center"><input type="text" number-input min=0 class="form-control"
                        ng-model="vm.rawTableType2.femaleBearHasChip" /></td>
                <!-- Mã số chip -->
                <td class="text-center">
                    <div style="width:100px;position: relative;padding-left:15px;">
                        <i class="icon-plus" style="position: absolute; top: 32%; left: 0px;" ng-click="vm.showPopupInputChipCode(vm.rawTableType2)"></i>
                        <div ng-repeat="code in vm.rawTableType2.listChipCode">
                            <span >{{code}}</span>
                        </div>
                    </div>
                </td>

                <!-- Gau khong chip -->
                <td class="text-center">
                    {{vm.calcTotal(vm.rawTableType2.maleBearNoChip, vm.rawTableType2.femaleBearNoChip)}}</td>
                <td class="text-center">
                    <input type="text" number-input min="0" class="form-control" ng-model="vm.rawTableType2.maleBearNoChip" />
                </td>
                <td class="text-center">
                    <input type="text" number-input min="0" class="form-control" ng-model="vm.rawTableType2.femaleBearNoChip" />
                </td>
                <td class="text-center">
                    <input type="text" number-input min="0" class="form-control" ng-model="vm.rawTableType2.reasonBornAtFarm" />
                </td>
                <td class="text-center">
                    <input type="text" number-input min="0" class="form-control" ng-model="vm.rawTableType2.reasonOther" />
                </td>
                <!-- <td class="text-center">
                    <input type="text" class="form-control" ng-model="vm.rawTableType2.note" />
                </td> -->
                <td class="text-center"><button ng-click="vm.addAnimalBearReport()"><i class="icon-plus"></i></button></td>
            </tr>
        </table>
    </div>
    <div class="portlet-fotter margin-top-10" class="pull-right">
        <button type="button" ng-click="$dismiss()" class="btn btn-default margin-right-10" data-dismiss="modal"><i class="icon-close text-danger">Huỷ</i>
        <button type="button" ng-click="vm.saveListBearReport()" class="btn btn-primary"><i class="icon-plus"></i>Lưu</button>
    </div>
</div>

<script type="text/ng-template" id="modalPopupInputChipCode.html">
    <div class="modal-header">
        Nhập mã số chip
    </div>
    <!-- <div class="col-md-6 margin-bottom-10 margin-right-10 margin-top-10">
        <div class="input-group" style="width:300px;">
            <input type="text" data-ng-model="vm.textSearch" class="form-control" placeholder="Tìm kiếm theo tên tiếng việt" name="search">
        </div>
    </div> -->
    <div class="modal-body">
        <div class="row" >
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>TT</th>
                        <th>Mã chíp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.listChipCodes track by $index">
                        <td class="text-center">{{$index+1}}</td>
                        <td class="text-center"><input type="text" class="form-control" ng-model="item.code"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal"><i class="icon-close"></i>
            {{'farm.store.cancel' | translate}}</button>
        <button type="button" ng-click="vm.saveListChipCode(vm.listChipCodes)" class="btn btn-primary"><i class="icon-check"></i> {{'farm.store.save' | translate}}</button>
    </div>
</script>

<style>
    .dropdown-icon {
        position: relative;
        display: inline-block;
    }

    .styled-select select {
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */
        appearance: none;
    }

    .dropdown-icon::before {
        position: absolute;
        content: "\25bc";
        top: 20%;
        right: 0px;
        height: 20px;
        width: 20px;
    }
</style>